li {
  list-style: none;
}

.container {
  display: grid;
}

.person {
  display: grid;
  width: 100%;
  max-width: 900px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
  cursor: pointer;
}

.person:first-child {
  font-style: bold;
  color: red;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.active-person {
  margin: 20px auto;
}
